* {
	margin: 0px; padding: 0px;
}
html {
	margin: 0px; padding: 0px; border: 0px currentColor; border-image: none;
}
body {
	font: inherit; margin: 0px; padding: 0px; border: 0px currentColor; border-image: none; vertical-align: baseline; font-size-adjust: inherit; font-stretch: inherit;
}
div {
	font: inherit; margin: 0px; padding: 0px; border: 0px currentColor; border-image: none; vertical-align: baseline; font-size-adjust: inherit; font-stretch: inherit;
}
span {
	font: inherit; margin: 0px; padding: 0px; border: 0px currentColor; border-image: none; vertical-align: baseline; font-size-adjust: inherit; font-stretch: inherit;
}
object {
	font: inherit; margin: 0px; padding: 0px; border: 0px currentColor; border-image: none; vertical-align: baseline; font-size-adjust: inherit; font-stretch: inherit;
}
iframe {
	font: inherit; margin: 0px; padding: 0px; border: 0px currentColor; border-image: none; vertical-align: baseline; font-size-adjust: inherit; font-stretch: inherit;
}
h1 {
	font: inherit; margin: 0px; padding: 0px; border: 0px currentColor; border-image: none; vertical-align: baseline; font-size-adjust: inherit; font-stretch: inherit;
}
h2 {
	font: inherit; margin: 0px; padding: 0px; border: 0px currentColor; border-image: none; vertical-align: baseline; font-size-adjust: inherit; font-stretch: inherit;
}
h3 {
	font: inherit; margin: 0px; padding: 0px; border: 0px currentColor; border-image: none; vertical-align: baseline; font-size-adjust: inherit; font-stretch: inherit;
}
h4 {
	font: inherit; margin: 0px; padding: 0px; border: 0px currentColor; border-image: none; vertical-align: baseline; font-size-adjust: inherit; font-stretch: inherit;
}
h5 {
	font: inherit; margin: 0px; padding: 0px; border: 0px currentColor; border-image: none; vertical-align: baseline; font-size-adjust: inherit; font-stretch: inherit;
}
h6 {
	font: inherit; margin: 0px; padding: 0px; border: 0px currentColor; border-image: none; vertical-align: baseline; font-size-adjust: inherit; font-stretch: inherit;
}
p {
	font: inherit; margin: 0px; padding: 0px; border: 0px currentColor; border-image: none; vertical-align: baseline; font-size-adjust: inherit; font-stretch: inherit;
}
blockquote {
	font: inherit; margin: 0px; padding: 0px; border: 0px currentColor; border-image: none; vertical-align: baseline; font-size-adjust: inherit; font-stretch: inherit;
}
pre {
	font: inherit; margin: 0px; padding: 0px; border: 0px currentColor; border-image: none; vertical-align: baseline; font-size-adjust: inherit; font-stretch: inherit;
}
a {
	font: inherit; margin: 0px; padding: 0px; border: 0px currentColor; border-image: none; vertical-align: baseline; font-size-adjust: inherit; font-stretch: inherit;
}
abbr {
	font: inherit; margin: 0px; padding: 0px; border: 0px currentColor; border-image: none; vertical-align: baseline; font-size-adjust: inherit; font-stretch: inherit;
}
acronym {
	font: inherit; margin: 0px; padding: 0px; border: 0px currentColor; border-image: none; vertical-align: baseline; font-size-adjust: inherit; font-stretch: inherit;
}
address {
	font: inherit; margin: 0px; padding: 0px; border: 0px currentColor; border-image: none; vertical-align: baseline; font-size-adjust: inherit; font-stretch: inherit;
}
code {
	font: inherit; margin: 0px; padding: 0px; border: 0px currentColor; border-image: none; vertical-align: baseline; font-size-adjust: inherit; font-stretch: inherit;
}
del {
	font: inherit; margin: 0px; padding: 0px; border: 0px currentColor; border-image: none; vertical-align: baseline; font-size-adjust: inherit; font-stretch: inherit;
}
dfn {
	font: inherit; margin: 0px; padding: 0px; border: 0px currentColor; border-image: none; vertical-align: baseline; font-size-adjust: inherit; font-stretch: inherit;
}
em {
	font: inherit; margin: 0px; padding: 0px; border: 0px currentColor; border-image: none; vertical-align: baseline; font-size-adjust: inherit; font-stretch: inherit;
}
img {
	font: inherit; margin: 0px; padding: 0px; border: 0px currentColor; border-image: none; vertical-align: baseline; font-size-adjust: inherit; font-stretch: inherit;
}
q {
	font: inherit; margin: 0px; padding: 0px; border: 0px currentColor; border-image: none; vertical-align: baseline; font-size-adjust: inherit; font-stretch: inherit;
}
dl {
	font: inherit; margin: 0px; padding: 0px; border: 0px currentColor; border-image: none; vertical-align: baseline; font-size-adjust: inherit; font-stretch: inherit;
}
dt {
	font: inherit; margin: 0px; padding: 0px; border: 0px currentColor; border-image: none; vertical-align: baseline; font-size-adjust: inherit; font-stretch: inherit;
}
dd {
	font: inherit; margin: 0px; padding: 0px; border: 0px currentColor; border-image: none; vertical-align: baseline; font-size-adjust: inherit; font-stretch: inherit;
}
ol {
	font: inherit; margin: 0px; padding: 0px; border: 0px currentColor; border-image: none; vertical-align: baseline; font-size-adjust: inherit; font-stretch: inherit;
}
ul {
	font: inherit; margin: 0px; padding: 0px; border: 0px currentColor; border-image: none; vertical-align: baseline; font-size-adjust: inherit; font-stretch: inherit;
}
li {
	font: inherit; margin: 0px; padding: 0px; border: 0px currentColor; border-image: none; vertical-align: baseline; font-size-adjust: inherit; font-stretch: inherit;
}
fieldset {
	font: inherit; margin: 0px; padding: 0px; border: 0px currentColor; border-image: none; vertical-align: baseline; font-size-adjust: inherit; font-stretch: inherit;
}
form {
	font: inherit; margin: 0px; padding: 0px; border: 0px currentColor; border-image: none; vertical-align: baseline; font-size-adjust: inherit; font-stretch: inherit;
}
label {
	font: inherit; margin: 0px; padding: 0px; border: 0px currentColor; border-image: none; vertical-align: baseline; font-size-adjust: inherit; font-stretch: inherit;
}
legend {
	font: inherit; margin: 0px; padding: 0px; border: 0px currentColor; border-image: none; vertical-align: baseline; font-size-adjust: inherit; font-stretch: inherit;
}
article {
	font: inherit; margin: 0px; padding: 0px; border: 0px currentColor; border-image: none; vertical-align: baseline; font-size-adjust: inherit; font-stretch: inherit;
}
aside {
	font: inherit; margin: 0px; padding: 0px; border: 0px currentColor; border-image: none; vertical-align: baseline; font-size-adjust: inherit; font-stretch: inherit;
}
dialog {
	font: inherit; margin: 0px; padding: 0px; border: 0px currentColor; border-image: none; vertical-align: baseline; font-size-adjust: inherit; font-stretch: inherit;
}
figure {
	font: inherit; margin: 0px; padding: 0px; border: 0px currentColor; border-image: none; vertical-align: baseline; font-size-adjust: inherit; font-stretch: inherit;
}
footer {
	font: inherit; margin: 0px; padding: 0px; border: 0px currentColor; border-image: none; vertical-align: baseline; font-size-adjust: inherit; font-stretch: inherit;
}
header {
	font: inherit; margin: 0px; padding: 0px; border: 0px currentColor; border-image: none; vertical-align: baseline; font-size-adjust: inherit; font-stretch: inherit;
}
hgroup {
	font: inherit; margin: 0px; padding: 0px; border: 0px currentColor; border-image: none; vertical-align: baseline; font-size-adjust: inherit; font-stretch: inherit;
}
nav {
	font: inherit; margin: 0px; padding: 0px; border: 0px currentColor; border-image: none; vertical-align: baseline; font-size-adjust: inherit; font-stretch: inherit;
}
section {
	font: inherit; margin: 0px; padding: 0px; border: 0px currentColor; border-image: none; vertical-align: baseline; font-size-adjust: inherit; font-stretch: inherit;
}
article {
	display: block;
}
aside {
	display: block;
}
details {
	display: block;
}
figcaption {
	display: block;
}
figure {
	display: block;
}
dialog {
	display: block;
}
footer {
	display: block;
}
header {
	display: block;
}
hgroup {
	display: block;
}
menu {
	display: block;
}
nav {
	display: block;
}
section {
	display: block;
}
table {
	border-collapse: separate; border-spacing: 0;
}
caption {
	font-weight: normal; float: none !important;
}
th {
	font-weight: normal; float: none !important;
}
td {
	font-weight: normal; float: none !important;
}
table {
	vertical-align: middle;
}
th {
	vertical-align: middle;
}
td {
	vertical-align: middle;
}
blockquote::before {
	content: "";
}
blockquote::after {
	content: "";
}
q::before {
	content: "";
}
q::after {
	content: "";
}
blockquote {
	quotes: "" "";
}
q {
	quotes: "" "";
}
img {
	border: currentColor; border-image: none;
}
a img {
	border: currentColor; border-image: none;
}
:focus {
	outline: 0px;
}
input {
	
}
button {
	
}
select {
	
}
textarea {
	
}
textarea {
	resize: none;
}
input {
	border: 0px currentColor; border-image: none;
}
select {
	border: 0px currentColor; border-image: none;
}
body {
	color: rgb(51, 51, 51); font-family: "Î¢ÈíÑÅºÚ","ËÎÌå",Arial, sans-serif; font-size: 13px;
}
body {
	width: 100%; height: 100%; min-height: 550px; min-width: 768px;
}
html {
	width: 100%; height: 100%; min-height: 550px; min-width: 768px;
}
pre {
	white-space: pre-wrap; -ms-word-wrap: break-word;
}
input.dialog {
	border: currentColor; border-image: none; height: 0px; line-height: 0; font-size: 0px;
}
h1 {
	font-size: 100%;
}
h2 {
	font-size: 100%;
}
h3 {
	font-size: 100%;
}
h4 {
	font-size: 100%;
}
h5 {
	font-size: 100%;
}
h6 {
	font-size: 100%;
}
h1 {
	font-size: 34px;
}
h2 {
	font-size: 26px;
}
h3 {
	font-size: 18px;
}
h4 {
	font-size: 16px;
}
h5 {
	font-size: 14px;
}
h6 {
	font-size: 12px;
}
input {
	vertical-align: middle;
}
label {
	vertical-align: middle;
}
img {
	vertical-align: middle;
}
th {
	vertical-align: middle;
}
select {
	vertical-align: middle;
}
.font-fixh {
	color: rgb(255, 0, 0); font-family: Georgia,Arial; font-size: 16px; font-weight: 700;
}
address {
	font-style: normal;
}
cite {
	font-style: normal;
}
dfn {
	font-style: normal;
}
em {
	font-style: normal;
}
var {
	font-style: normal;
}
code {
	font-family: courier new,courier,monospace;
}
kbd {
	font-family: courier new,courier,monospace;
}
pre {
	font-family: courier new,courier,monospace;
}
samp {
	font-family: courier new,courier,monospace;
}
input.button {
	padding: 0.25em; width: auto; _width: 0;
}
input.btn {
	padding: 0.25em; width: auto; _width: 0;
}
button {
	cursor: pointer;
}
blockquote {
	margin: 1.5em; color: rgb(102, 102, 102); font-style: italic;
}
.vem {
	vertical-align: middle;
}
.vet {
	vertical-align: top;
}
ul {
	list-style-type: none;
}
li {
	list-style-type: none;
}
.f12 {
	font-size: 12px;
}
.f12 a {
	font-size: 12px;
}
.f14 {
	font-size: 14px;
}
.f14 a {
	font-size: 14px;
}
.f16 {
	font-size: 16px;
}
.f16 a {
	font-size: 16px;
}
.f18 {
	font-size: 18px;
}
.f18 a {
	font-size: 18px;
}
.f20 {
	font-size: 20px;
}
.f20 a {
	font-size: 20px;
}
.lh20 {
	line-height: 20px;
}
.lh22 {
	line-height: 22px;
}
.lh24 {
	line-height: 24px;
}
.lh25 {
	line-height: 25px;
}
.lh26 {
	line-height: 26px;
}
.lh28 {
	line-height: 28px;
}
.lh30 {
	line-height: 30px;
}
.lh35 {
	line-height: 35px;
}
.lh40 {
	line-height: 40px;
}
.lh50 {
	line-height: 50px;
}
.lh60 {
	line-height: 60px;
}
.h20 {
	height: 20px;
}
.h24 {
	height: 24px;
}
.h25 {
	height: 25px;
}
.h28 {
	height: 28px;
}
.h30 {
	height: 30px;
}
.h35 {
	height: 35px;
}
.h40 {
	height: 40px;
}
.h50 {
	height: 50px;
}
.h60 {
	height: 60px;
}
.h100 {
	height: 100px;
}
.fb {
	font-weight: bold;
}
.fn {
	font-weight: normal;
}
.bk {
	height: 0px; line-height: 1px; clear: both; font-size: 1px;
}
.bk3 {
	height: 0px; line-height: 1px; clear: both; font-size: 1px;
}
.bk5 {
	height: 0px; line-height: 1px; clear: both; font-size: 1px;
}
.bk6 {
	height: 0px; line-height: 1px; clear: both; font-size: 1px;
}
.bk8 {
	height: 0px; line-height: 1px; clear: both; font-size: 1px;
}
.bk10 {
	height: 0px; line-height: 1px; clear: both; font-size: 1px;
}
.bk15 {
	height: 0px; line-height: 1px; clear: both; font-size: 1px;
}
.bk20 {
	height: 0px; line-height: 1px; clear: both; font-size: 1px;
}
.bk30 {
	height: 0px; line-height: 1px; clear: both; font-size: 1px;
}
.bk3 {
	height: 3px;
}
.bk5 {
	height: 5px;
}
.bk6 {
	height: 6px;
}
.bk8 {
	height: 8px;
}
.bk10 {
	height: 10px;
}
.bk15 {
	height: 15px;
}
.bk20 {
	height: 20px;
}
.bk30 {
	height: 30px;
}
.clear::after {
	height: 0px; clear: both; display: block; visibility: hidden; content: ".";
}
.lf {
	float: left;
}
.rt {
	float: right;
}
.ovau {
	overflow: auto;
}
.ovhi {
	overflow: hidden;
}
.psAb {
	position: absolute;
}
.psRe {
	position: relative;
	font-family:"Microsoft YaHei",微软雅黑,"MicrosoftJhengHei",华文细黑,STHeiti,MingLiu;
}
.disbl {
	display: block;
}
.disin {
	display: inline-block;
}
.disno {
	display: none;
}
.tdu {
	text-decoration: underline;
}
.tdu a {
	text-decoration: underline;
}
.tdn {
	text-decoration: none;
}
.tdn a {
	text-decoration: none;
}
.textl {
	text-align: left;
}
.textc {
	text-align: center;
}
.textr {
	text-align: right;
}
.mar0a {
	margin: 0px auto;
}
.cupo {
	cursor: pointer;
}
.grd1 {
	width: 40px;
}
.grd2 {
	width: 80px;
}
.grd3 {
	width: 120px;
}
.grd4 {
	width: 160px;
}
.grd5 {
	width: 200px;
}
.grd6 {
	width: 240px;
}
.grd7 {
	width: 280px;
}
.grd8 {
	width: 320px;
}
.grd9 {
	width: 360px;
}
.grd10 {
	width: 400px;
}
.grd11 {
	width: 440px;
}
.grd12 {
	width: 480px;
}
.grd13 {
	width: 520px;
}
.grd14 {
	width: 560px;
}
.grd15 {
	width: 600px;
}
.grd16 {
	width: 640px;
}
.grd17 {
	width: 680px;
}
.grd18 {
	width: 720px;
}
.grd19 {
	width: 760px;
}
.grd20 {
	width: 800px;
}
.grd21 {
	width: 840px;
}
.grd22 {
	width: 880px;
}
.grd23 {
	width: 920px;
}
.grd24 {
	width: 960px;
}
.grd25 {
	width: 1000px;
}
@media screen and (max-width:1679px)
{
.span1 {
	width: 103px;
}
.span2 {
	width: 206px;
}
.span3 {
	width: 309px;
}
.span4 {
	width: 412px;
}
.span5 {
	width: 515px;
}
.span6 {
	width: 618px;
}
.span7 {
	width: 721px;
}
.span8 {
	width: 824px;
}
.span9 {
	width: 927px;
}
.span10 {
	width: 1030px;
}
.span11 {
	width: 1133px;
}
.span12 {
	width: 1236px;
}
}
@media screen and (min-width:1679px)
{
.span1 {
	width: 124px;
}
.span2 {
	width: 248px;
}
.span3 {
	width: 372px;
}
.span4 {
	width: 496px;
}
.span5 {
	width: 620px;
}
.span6 {
	width: 744px;
}
.span7 {
	width: 868px;
}
.span8 {
	width: 992px;
}
.span9 {
	width: 1116px;
}
.span10 {
	width: 1240px;
}
.span11 {
	width: 1364px;
}
.span12 {
	width: 1488px;
}
}
.pad5 {
	padding: 5px;
}
.pad10 {
	padding: 10px;
}
.pad15 {
	padding: 15px;
}
.pad20 {
	padding: 20px;
}
.padl5 {
	padding-left: 5px;
}
.padl10 {
	padding-left: 10px;
}
.padl15 {
	padding-left: 15px;
}
.padl20 {
	padding-left: 20px;
}
.padr5 {
	padding-right: 5px;
}
.padr10 {
	padding-right: 10px;
}
.padr15 {
	padding-right: 15px;
}
.padr20 {
	padding-right: 20px;
}
.padt5 {
	padding-top: 5px;
}
.padt10 {
	padding-top: 10px;
}
.padt15 {
	padding-top: 15px;
}
.padt20 {
	padding-top: 20px;
}
.padb5 {
	padding-bottom: 5px;
}
.padb10 {
	padding-bottom: 10px;
}
.padb15 {
	padding-bottom: 15px;
}
.padb20 {
	padding-bottom: 20px;
}
.padlr5 {
	padding: 0px 5px;
}
.padlr10 {
	padding: 0px 10px;
}
.padlr15 {
	padding: 0px 15px;
}
.padlr20 {
	padding: 0px 20px;
}
.padtb5 {
	padding: 5px 0px;
}
.padtb10 {
	padding: 10px 0px;
}
.padtb15 {
	padding: 15px 0px;
}
.padtb20 {
	padding: 20px 0px;
}
.mar5 {
	margin: 5px;
}
.mar10 {
	margin: 10px;
}
.mar15 {
	margin: 15px;
}
.mar20 {
	margin: 20px;
}
.marlr5 {
	margin: 0px 5px;
}
.marlr10 {
	margin: 0px 10px;
}
.marlr15 {
	margin: 0px 15px;
}
.marlr20 {
	margin: 0px 20px;
}
.martb5 {
	margin: 5px 0px;
}
.martb10 {
	margin: 10px 0px;
}
.martb15 {
	margin: 15px 0px;
}
.martb20 {
	margin: 20px 0px;
}
.marl5 {
	margin-left: 5px;
}
.marl10 {
	margin-left: 10px;
}
.marl15 {
	margin-left: 15px;
}
.marl20 {
	margin-left: 20px;
}
.marr5 {
	margin-right: 5px;
}
.marr10 {
	margin-right: 10px;
}
.marr15 {
	margin-right: 15px;
}
.marr20 {
	margin-right: 20px;
}
.mart5 {
	margin-top: 5px;
}
.mart10 {
	margin-top: 10px;
}
.mart15 {
	margin-top: 15px;
}
.mart20 {
	margin-top: 20px;
}
.marb5 {
	margin-bottom: 5px;
}
.marb10 {
	margin-bottom: 10px;
}
.marb15 {
	margin-bottom: 15px;
}
.marb20 {
	margin-bottom: 20px;
}
a:focus {
	color: rgb(0, 161, 241);
}
a:hover {
	color: rgb(0, 161, 241);
}
a {
	color: rgb(51, 51, 51); text-decoration: none;
}
.cor1 {
	color: rgb(0, 161, 241);
}
.cor1 a {
	color: rgb(0, 161, 241);
}
.cor2 {
	color: rgb(51, 51, 51);
}
.cor2 a {
	color: rgb(51, 51, 51);
}
.cor3 {
	color: rgb(102, 102, 102);
}
.cor3 a {
	color: rgb(102, 102, 102);
}
.cor4 {
	color: rgb(255, 203, 11);
}
.cor4 a {
	color: rgb(255, 203, 11);
}
.cor5 {
	color: rgb(10, 89, 172);
}
.cor5 a {
	color: rgb(10, 89, 172);
}
.white {
	color: rgb(255, 255, 255);
}
.white a {
	color: rgb(255, 255, 255);
}
.blue {
	color: rgb(0, 68, 153);
}
.blue a {
	color: rgb(0, 68, 153);
}
.gray {
	color: rgb(153, 153, 153);
}
.gray a {
	color: rgb(153, 153, 153);
}
a.gray {
	color: rgb(153, 153, 153);
}
.red {
	color: red;
}
.red a {
	color: red;
}
a.red {
	color: red;
}
.green {
	color: rgb(14, 119, 74);
}
.green a {
	color: rgb(14, 119, 74);
}
a.green {
	color: rgb(14, 119, 74);
}
.bag1 {
	background: rgb(234, 235, 240);
}
.bag2 {
	background: rgb(204, 204, 204);
}
.bag3 {
	background: rgb(249, 249, 249);
}
.bagf {
	background: rgb(255, 255, 255);
}
.bagb {
	background: rgb(0, 0, 0);
}
.wrap {
	width: 100%; height: 100%; min-width: 768px;
	font-family: font-family:"Microsoft YaHei",微软雅黑,"MicrosoftJhengHei",华文细黑,STHeiti,MingLiu;
}
.header {
	left: 0px; top: 0px; right: 0px;
}
.header {
	z-index: 9999;
}
.head {
	z-index: 99;
}
.logo {
	background: rgb(0, 161, 241);
}
#top_nav {
	overflow: hidden; float: left;
}
#top_nav .nav-li {
	float: left; position: relative;
}
#top_nav .nav-li .top_nav {
	background: url("/img/sub_nav.png") repeat-x;
}
#top_nav .hover.nav-li .top_nav {
	background: url("/img/sub_hover.png") repeat-x;
}
#top_nav .nav-li .top_nav {
	
}
#top_nav .nav-li .top_nav {
	color: rgb(255, 255, 255); font-size: 18px; display: inline-block;
}
#top_nav .nav-li .top_nav span {
	background: url("/img/top_line.png") repeat-y right top; text-align: center; display: inline-block;
}
#top_nav .hover {
	
}
#top_nav .nav-child {
	background: url("/img/sub_nav.png") repeat-x; overflow: hidden; display: none;
}
#top_nav .nav-child a {
	padding: 0px 5px 0px 10px; color: rgb(255, 255, 255); line-height: 25px; display: inline-block;
}
#top_nav .nav-child a:hover {
	color: rgb(255, 193, 61);
}
#top_nav .nav-li #nav_on {
	background: url("/img/sub_hover.png") repeat-x;
}
#top_nav ul {
	font-size: 0px;
}
#top_nav ul dd {
	font-size: 13px;
}
.hover_right {
	background: url("/img/sub_nav.png") repeat-x;
}
.head_right {
	background: url("/img/top-line.png") repeat-x 0px 34px; height: 35px; padding-right: 20px; position: relative; z-index: 10000;
}
.head_right .head_li {
	background: url("/img/top_line.png") repeat-y right top; height: 35px; color: rgb(255, 255, 255); _overflow: hidden;
}
.head_right .head_li a {
	height: 35px; color: rgb(255, 255, 255); display: inline-block;
}
.head_right .head_li img {
	vertical-align: top;
}
.head_right .head_li span {
	width: 0px; height: 35px; text-align: center; line-height: 35px; overflow: hidden; display: inline-block;
}
.head_right .head_li .animate2 span {
	width: 60px;
}
.head_right .head_li dl {
	top: 35px; right: 0px; position: absolute; z-index: 9999;
}
.head_right .head_li dl dd a {
	background: url("/img/sub_nav.png") repeat-x 0px -129px; padding: 0px 5px 0px 10px; height: 25px; line-height: 25px; display: block; min-width: 75px;
}
.icos {
	width: 35px; height: 35px; vertical-align: top; display: inline-block;
}
.ico_eng {
	background: url("/img/ico-eng.gif") no-repeat;
}
.ico_chain {
	background: url("/img/ico-chain.png") no-repeat; _background: url(/img/ico-chain.gif) no-repeat;
}
.ico_building {
	background: url("/img/ico-building.png") no-repeat; _background: url(/img/ico-building.gif) no-repeat;
}
.ico_lib {
	background: url("/img/ico-lib.png") no-repeat; _background: url(/img/ico-lib.gif) no-repeat;
}
.ico_msg {
	background: url("/img/ico-msg.png") no-repeat; _background: url(/img/ico-msg.gif) no-repeat;
}
.ico_id {
	background: url("/img/ico-id.png") no-repeat; _background: url(/img/ico-id.gif) no-repeat;
}
#search_ul {
	background: url("/img/search.png") no-repeat; top: 55px; width: 184px; height: 30px; right: 20px; position: absolute; z-index: 100;
}
#search_text {
	background: none; padding: 0px 5px; width: 135px; height: 30px; color: rgb(255, 254, 254); line-height: 30px; float: left;
}
#search_submit {
	background: none; width: 33px; line-height: 30px; text-indent: -999em; float: right; cursor: pointer;
}
.box1:hover .blue_bg {
	background: rgb(65, 65, 65); opacity: 0.8;
}
.main_nav {
	text-align: center; color: rgb(255, 255, 255); line-height: 22px; font-size: 16px; z-index: 1000;
}
.main_a {
	color: rgb(2, 100, 147); font-size: 18px;
}
.date {
	background: rgb(198, 228, 242); border: 1px solid rgb(216, 232, 240); border-image: none; width: 60px; height: 60px; text-align: center; color: rgb(2, 100, 147);
}
.date b {
	font-size: 28px;
}
.blue_bg {
	background: rgb(0, 161, 241); margin: 0px 1px 1px 0px; z-index: 99; opacity: 0.8;
}
.main_ul {
	margin: 0px 10px; padding: 0px 20px; border-top-color: rgb(0, 161, 241); border-top-width: 3px; border-top-style: solid; z-index: 1000;
}
.main_ul h4 a {
	padding: 5px 0px 5px 10px; height: 50px; overflow: hidden;
}
.main_ul h6 {
	background: url("/img/main-l.png") no-repeat 0px 8px; height: 30px; line-height: 30px; display: block; white-space: nowrap;
}
.main_ul h6 a {
	padding: 0px 10px; display: block;
}
.main_ul h6 .main_ul_span {
	width: 80%; overflow: hidden; font-size: 13px; display: inline-block; white-space: nowrap; -ms-text-overflow: ellipsis;
}
.zoom .blue_bg {
	background: rgb(255, 255, 255); margin: 0px 10px; z-index: 999; opacity: 0.8;
}
.more {
	background: rgb(255, 201, 0); width: 40px; height: 20px; text-align: center; color: rgb(255, 255, 255); line-height: 20px; font-size: 12px; margin-top: 10px;
}
.main_pic {
	margin: 15px 0px 0px;
}
.main_ky {
	padding: 0px 0px 0px 7px; _padding: 0 0 0 5px;
}
.main_rc_a {
	padding: 0px 15px;
}
.sign_ico1 {
	width: 20px; height: 25px; margin-right: 15px; vertical-align: middle; display: inline-block; background-image: url("/img/icon.gif"); background-repeat: no-repeat;
}
.sign_ico2 {
	width: 20px; height: 25px; margin-right: 15px; vertical-align: middle; display: inline-block; background-image: url("/img/icon.gif"); background-repeat: no-repeat;
}
.sign_ico3 {
	width: 20px; height: 25px; margin-right: 15px; vertical-align: middle; display: inline-block; background-image: url("/img/icon.gif"); background-repeat: no-repeat;
}
.sign_ico1 {
	background-position: -40px 4px;
}
.sign_ico2 {
	background-position: -20px 4px;
}
.sign_ico3 {
	background-position: 0px 4px;
}
.wid2 {
	width: 50%;
}
.wid3 {
	width: 33.3%;
}
.wid5 {
	width: 20%;
}
.wrap_main .griditem {
	overflow: hidden; position: absolute;
}
.zoom .main_nav {
	display: none;
}
.box1 .main_ul {
	display: none;
}
.box1 .main_h5 {
	display: none;
}
.wrap_bg {
	width: 100%; height: 100%; overflow: hidden; z-index: 9; min-width: 768px;
}
.wrap_bg ul {
	z-index: 9;
}
.grd_bg {
	width: 100%; height: 100%; overflow: hidden; z-index: 30; min-width: 768px;
}
#banner_prev {
	top: 50%; width: 30px; height: 30px; display: block; background-image: url("/img/arrows.png"); background-repeat: no-repeat; _background-image: url(/img/arrows.gif);
}
#banner_next {
	top: 50%; width: 30px; height: 30px; display: block; background-image: url("/img/arrows.png"); background-repeat: no-repeat; _background-image: url(/img/arrows.gif);
}
#banner_prev {
	background-position: 0px 0px; left: 5px; z-index: 1000;
}
#banner_next {
	background-position: -30px 0px; right: 5px; z-index: 1000;
}
.list_grd_bg {
	left: 0px; top: 0px; width: 100%; right: 0px; overflow: hidden; z-index: 30;
}
@media screen and (max-width:949px)
{
.box1 {
	width: 103px; height: 103px;
}
.box1:hover .blue_bg {
	background: rgb(0, 161, 241); opacity: 0.7;
}
.logo {
	left: 0px; top: 35px; width: 309px; height: 102px; position: absolute;
}
.header {
	height: 138px;
}
#top_nav .nav-li .top_nav {
	line-height: 103px;
}
.hover_right {
	height: 35px;
}
#top_nav {
	left: 309px; top: 35px; right: 0px; position: absolute;
}
#top_nav .top_nav_box {
	background: url("/img/sub_nav.png") repeat-x; left: 412px; top: 0px; height: 103px; right: 0px; position: absolute;
}
#top_nav .nav-child {
	height: 103px;
}
#top_nav .hover .nav-child {
	left: 0px; top: 103px; position: absolute;
}
.wrap_main {
	width: 412px; height: 206px; z-index: 999;
}
.blue_bg {
	width: 102px; height: 102px;
}
.main_nav {
	padding: 30px; width: 42px; height: 42px; line-height: 22px;
}
.zoom .blue_bg {
	margin: 0px; width: 412px; height: 206px;
}
.main_ul {
	margin: 0px; width: 372px;
}
.main_ul h4 a {
	width: 270px;
}
.main_ul .wrap_cont {
	height: 160px; overflow: hidden;
}
.main_rc_a {
	padding: 0px 8px;
}
.grd_bg {
	background: url("/img/span.png"); margin-top: 138px; _background: none;
}
.list_grd_bg {
	background: url("/img/span.png"); height: 206px; margin-top: 138px; _background: none;
}
.head_right {
	padding-right: 210px;
}
#search_ul {
	background: url("/img/search.png") no-repeat; top: 2px; width: 184px; height: 30px; right: 10px; position: absolute; z-index: 10000;
}
#search_text {
	background: none; padding: 0px 5px; width: 135px; height: 30px; color: rgb(255, 254, 254); line-height: 30px;
}
#search_submit {
	background: none; width: 33px; line-height: 30px; text-indent: -999em; cursor: pointer;
}
}
@media screen and (max-width:1279px) and (min-width:950px)
{
.box1 {
	width: 103px; height: 103px;
}
.box1:hover .blue_bg {
	background: rgb(0, 161, 241); opacity: 0.7;
}
.logo {
	left: 0px; top: 35px; width: 309px; height: 102px; position: absolute;
}
.header {
	height: 138px;
}
#top_nav .nav-li .top_nav {
	line-height: 103px;
}
.hover_right {
	height: 35px;
}
#top_nav {
	left: 309px; top: 35px; right: 0px; position: absolute;
}
#top_nav .top_nav_box {
	background: url("/img/sub_nav.png") repeat-x; left: 412px; top: 0px; height: 103px; right: 0px; position: absolute;
}
#top_nav .nav-child {
	height: 103px;
}
#top_nav .hover .nav-child {
	left: 0px; top: 103px; position: absolute;
}
.wrap_main {
	height: 206px; z-index: 999;
}
.blue_bg {
	width: 102px; height: 102px;
}
.main_nav {
	padding: 30px; width: 42px; height: 42px; line-height: 22px;
}
.zoom .blue_bg {
	width: 392px; height: 206px;
}
.main_ul {
	width: 352px;
}
.main_ul h4 a {
	width: 270px;
}
.main_ul .wrap_cont {
	height: 160px; overflow: hidden;
}
.main_rc_a {
	padding: 0px 8px;
}
.grd_bg {
	background: url("/img/span.png"); margin-top: 138px; _background: none;
}
.list_grd_bg {
	background: url("/img/span.png"); height: 206px; margin-top: 138px; _background: none;
}
.head_right {
	padding-right: 210px;
}
#search_ul {
	background: url("/img/search.png") no-repeat; top: 2px; width: 184px; height: 30px; right: 10px; position: absolute; z-index: 10000;
}
#search_text {
	background: none; padding: 0px 5px; width: 135px; height: 30px; color: rgb(255, 254, 254); line-height: 30px;
}
#search_submit {
	background: none; width: 33px; line-height: 30px; text-indent: -999em; cursor: pointer;
}
.rotate {
	animation:rotate 400ms; -webkit-animation: rotate 400ms; -moz-animation: rotate 400ms;
}
.per {
	-webkit-perspective: 1000; -moz-perspective: 1000;
}
}
@media screen and (max-width:1360px) and (min-width:1279px)
{
.head_responsive {
	display: none;
}
}
@media screen and (max-width:1360px) and (min-width:1279px)
{
.box1 {
	width: 103px; height: 103px;
}
.logo {
	width: 309px; height: 102px; float: left;
}
.header {
	height: 102px;
}
#top_nav .nav-li .top_nav {
	line-height: 103px;
}
.hover_right {
	height: 103px; margin-left: 721px;
}
#top_nav .nav-child {
	height: 103px;
}
#top_nav .hover .nav-child {
	left: 0px; top: 103px; position: absolute;
}
.wrap_main {
	height: 206px; z-index: 999;
}
.blue_bg {
	width: 102px; height: 102px;
}
.main_nav {
	padding: 30px; width: 42px; height: 42px; line-height: 22px;
}
.zoom .blue_bg {
	width: 392px; height: 206px;
}
.main_ul {
	width: 352px;
}
.main_ul h4 a {
	width: 270px;
}
.main_ul .wrap_cont {
	height: 160px; overflow: hidden;
}
.main_rc_a {
	padding: 0px 8px;
}
.grd_bg {
	background: url("/img/span.png"); margin-top: 103px; _background: none;
}
.list_grd_bg {
	background: url("/img/span.png"); height: 206px; margin-top: 103px; _background: none;
}
.rotate {
	animation:rotate 400ms; -webkit-animation: rotate 400ms; -moz-animation: rotate 400ms;
}
.per {
	-webkit-perspective: 1000; -moz-perspective: 1000;
}
}
@media screen and (max-width:1679px) and (min-width:1360px)
{
.box1 {
	width: 103px; height: 103px;
}
.logo {
	width: 309px; height: 102px; float: left;
}
.header {
	height: 102px;
}
#top_nav .nav-li .top_nav {
	line-height: 103px;
}
.hover_right {
	height: 103px; margin-left: 721px;
}
#top_nav .nav-child {
	height: 103px;
}
#top_nav .hover .nav-child {
	left: 0px; top: 103px; position: absolute;
}
.wrap_main {
	width: 927px; height: 206px; z-index: 999;
}
.blue_bg {
	width: 102px; height: 102px;
}
.main_nav {
	padding: 30px; width: 42px; height: 42px; line-height: 22px;
}
.zoom .blue_bg {
	width: 495px; height: 206px;
}
.main_ul {
	width: 455px;
}
.main_ul h4 a {
	width: 373px;
}
.main_ul .wrap_cont {
	height: 160px; overflow: hidden;
}
.main_ky {
	padding: 0px 0px 0px 23px;
}
.grd_bg {
	background: url("/img/span.png"); margin-top: 103px; _background: none;
}
.list_grd_bg {
	background: url("/img/span.png"); height: 206px; margin-top: 103px; _background: none;
}
.rotate {
	animation:rotate 400ms; -webkit-animation: rotate 400ms; -moz-animation: rotate 400ms;
}
.per {
	-webkit-perspective: 1000; -moz-perspective: 1000;
}
}
@media screen and (max-width:1800px) and (min-width:1679px)
{
.box1 {
	width: 124px; height: 124px;
}
.logo {
	width: 372px; height: 124px; float: left;
}
.header {
	height: 123px;
}
#top_nav .nav-li .top_nav {
	line-height: 124px;
}
.hover_right {
	height: 124px; margin-left: 868px;
}
#top_nav .nav-child {
	height: 124px;
}
#top_nav .nav-child a {
	line-height: 30px;
}
#top_nav .hover .nav-child {
	left: 0px; top: 124px; position: absolute;
}
.wrap_main {
	height: 248px; z-index: 999;
}
.blue_bg {
	width: 123px; height: 123px;
}
.main_nav {
	padding: 34px; width: 56px; height: 56px; line-height: 28px; letter-spacing: 5px; font-size: 19px;
}
.zoom .blue_bg {
	width: 476px; height: 248px;
}
.main_ul {
	width: 436px;
}
.main_ul h4 a {
	width: 350px;
}
.main_ul h6 .main_ul_span {
	width: 85%;
}
.main_bk {
	height: 15px;
}
.main_cbk {
	height: 20px;
}
.main_rbk {
	height: 20px;
}
.grd_bg {
	background: url("/img/spanb.png"); margin-top: 124px; _background: none;
}
.list_grd_bg {
	background: url("/img/spanb.png"); height: 248px; margin-top: 124px; _background: none;
}
.main_ky {
	padding: 0px 0px 0px 18px;
}
.rotate {
	animation:rotate 400ms; -webkit-animation: rotate 400ms; -moz-animation: rotate 400ms;
}
.per {
	-webkit-perspective: 1000; -moz-perspective: 1000;
}
}
@media screen and (min-width:1800px)
{
.box1 {
	width: 124px; height: 124px;
}
.logo {
	width: 372px; height: 124px; float: left;
}
.header {
	height: 123px;
}
#top_nav .nav-li .top_nav {
	line-height: 124px;
}
.hover_right {
	height: 124px; margin-left: 868px;
}
#top_nav .nav-child {
	height: 124px;
}
#top_nav .nav-child a {
	line-height: 30px;
}
#top_nav .hover .nav-child {
	left: 0px; top: 124px; position: absolute;
}
.wrap_main {
	width: 1116px; height: 248px; z-index: 999;
}
.blue_bg {
	width: 123px; height: 123px;
}
.main_nav {
	padding: 34px; width: 56px; height: 56px; line-height: 28px; letter-spacing: 5px; font-size: 19px;
}
.zoom .blue_bg {
	width: 600px; height: 248px;
}
.main_ul {
	width: 560px;
}
.main_ul h4 a {
	width: 474px;
}
.main_ul h6 .main_ul_span {
	width: 88%;
}
.main_bk {
	height: 15px;
}
.main_cbk {
	height: 20px;
}
.grd_bg {
	background: url("/img/spanb.png"); margin-top: 124px; _background: none;
}
.list_grd_bg {
	background: url("/img/spanb.png"); height: 248px; margin-top: 124px; _background: none;
}
.main_ky {
	padding: 0px 0px 0px 25px;
}
.rotate {
	animation:rotate 400ms; -webkit-animation: rotate 400ms; -moz-animation: rotate 400ms;
}
.per {
	-webkit-perspective: 1000; -moz-perspective: 1000;
}
}
#footer {
	left: 0px; width: 100%; height: 60px; right: 0px; bottom: 0px; min-width: 768px;
}
.foot_bg {
	left: 0px; width: 100%; height: 60px; right: 0px; bottom: 0px; min-width: 768px;
}
#footer {
	z-index: 99;
}
#footer p {
	position: relative; z-index: 999;
}
.foot_bg {
	background: rgb(43, 43, 43); z-index: 90; opacity: 0.95;
}
#box {
	overflow: hidden; background-color: rgb(238, 238, 238);
}
#box ul {
	left: 0px; top: 0px; position: absolute;
}
#box ul li {
	float: left;
}
#box img {
	
}

.psRe {
	font-family:"Microsoft YaHei",微软雅黑,"MicrosoftJhengHei",华文细黑,STHeiti,MingLiu;
}
.wrap {
	font-family: font-family:"Microsoft YaHei",微软雅黑,"MicrosoftJhengHei",华文细黑,STHeiti,MingLiu;
}

.heading {
	position: fixed;
	font-family:"Microsoft YaHei",微软雅黑,"MicrosoftJhengHei",华文细黑,STHeiti,MingLiu;
	text-align: center; 
	background-color: #12A3EA;
	background-color: black;
	opacity: 0.7;
}
.head_text{
	margin-left: 110px;
	margin-right:380px; 
	color: white;
} 

